@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

:root {
  --primary-color: #458ff6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *==== Base ==== */
body {
  font-family: "Mulish", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  margin: 10px 0;
}
p {
  font-size: 18px;
  margin: 10px 0;
}

/* *==== Navbar ==== */
.navbar {
  margin-top: 25px;
  height: 80px;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar ul {
  display: flex;
}
.navbar a {
  padding: 4px;
  font-size: 18px;
  margin: 0 10px;
  color: #1f1534;
}
.navbar ul a:hover {
  font-weight: 700;
}
.logo {
  background-color: var(--primary-color);
  margin-right: 8px;
  padding-top: 5px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: inline-block;
}

/* *==== Hero ==== */
.hero {
  padding-top: 30px;
  margin-bottom: 20px;
  position: relative;
}
.hero .grid {
  /* grid-template-columns: 59% 41%; */
  grid-template-columns: 49% 51%;
}
.hero-title {
  padding-left: 23px;
  width: 500px;
}
.hero-title h1 {
  font-size: 48px;
  font-weight: 700;
}
.hero-title p {
  font-size: 21px;
  padding: 10px 110px 10px 0px;
}
.hero-title a {
  margin-top: 10px;
}
.hero-img {
  justify-self: flex-end;
  padding: 0 30px;
}
.hero-img img {
  width: 100%;
  height: auto;
}

.hero-bg-left {
  position: absolute;
  top: 30px;
  left: -40px;
  z-index: -1;
}

/* *==== Service ==== */
.service {
  margin-top: 100px;
}
.service .container {
  position: relative;
}
.service .grid {
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(3, minmax(213px, 1fr)); */
}
.service-bg-left {
  position: absolute;
  left: -180px;
  top: 255px;
  height: 150px;
  z-index: -1;
}
.service-bg-right {
  position: absolute;
  right: 45px;
  top: 543px;
  z-index: -1;
}
.service hr {
  margin: 30px auto 30px;
}
.sub-container {
  max-width: 1000px;
  margin: 0 auto;
}
.service-desc {
  padding: 0 100px;
  text-align: center;
  margin-bottom: 70px;
  font-size: 18px;
}
.service .card {
  /* height: 308px; */
  margin: 0;
  padding: 37px 15px 37px 15px;
  height: 100%;
}
.service .card img {
  width: 78px;
  height: 120px;
  padding: 18px 0 15px;
}
.service-align-btn {
  margin-top: 40px;
  grid-column: 1 / span 3;
  justify-self: center;
}

/* *==== Healthcare ==== */
.healthcare {
  margin-top: 150px;
}
.healthcare .grid {
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 45% 55%;
  /* grid-template-columns: auto auto; */
}
.healthcare img {
  /* height: 447px; */
  width: 100%;
  height: auto;
}
.healthcare-title {
  /* position: relative; */
  margin-top: -20px;
  margin-left: 70px;
}
.healthcare-title p {
  margin-bottom: 40px;
  padding-right: 40px;
}

/* *==== Apps ==== */
.app {
  padding-top: 130px;
  position: relative;
  overflow: hidden;
}
.app-bg-right {
  position: absolute;
  z-index: -1;
  top: 0px;
  right: -59px;
}
.app img {
  /* height: 434px; */
  /* align-self: flex-start; */
  width: 100%;
  height: auto;
}
.app-title {
  margin-left: 71px;
  padding-right: 6vw;
}
.app-title p {
  margin-bottom: 40px;
  padding-right: 10px;
}

/* *==== Article ==== */
.article {
  padding-top: 130px;
  /* position: relative; */
  overflow: hidden;
}
.article .container {
  position: relative;
}
.article-bg-left {
  position: absolute;
  top: 165px;
  left: 45px;
  z-index: -1;
}
.article-bg-right {
  position: absolute;
  top: 140px;
  right: -82px;
  z-index: -1;
}
.article hr {
  margin: 30px auto 80px;
}
.article .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}
.article .card {
  position: relative;
  padding: 0;
  justify-self: center;
  /* width: 100%; */
  height: 100%;
}
.article .card img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: auto;
}
.article-detail h2 {
  font-size: 21px;
  min-height: 60px;
}
.article-detail p {
  font-size: 16px;
  margin-bottom: 30px;
}
.article-detail {
  padding: 24px 30px 30px 35px;
}
.article-detail a {
  position: absolute;
  bottom: 20px;
  color: var(--primary-color);
  font-size: 17px;
  font-weight: 600;
}
.article-detail i {
  font-size: 13px;
  margin-left: 7px;
}
.article-align-btn {
  margin-top: 40px;
  grid-column: 1 / span 3;
  justify-self: center;
}

/* *=== Footer ==== */
.footer {
  margin-top: 170px;
  background-image: linear-gradient(#67c3f3, #5a98f2);
  color: #fff;
  padding: 80px 0;
  position: relative;
  height: 432px;
}
.footer .grid {
  grid-template-columns: 46% 18% 18% 18%;
}
.footer .flex {
  justify-content: flex-start;
  color: #fff;
  position: relative;
  top: -12px;
}
.footer .logo {
  background-color: #fff;
  color: var(--primary-color);
}
.f-trafalgar {
  padding-left: 20px;
}
.f-trafalgar p {
  padding-right: 100px;
  margin-bottom: 42px;
}
.footer h4 {
  font-weight: 300;
}
.footer nav h2 {
  padding-bottom: 20px;
  font-size: 22px;
}
.footer nav li {
  padding: 7px 0;
}
.footer nav a {
  color: #fff;
  font-size: 18px;
}
.footer-bg-bottom {
  position: absolute;
  bottom: 0;
  left: -30px;
}
.footer-bg-top {
  position: absolute;
  right: 25px;
  top: -70px;
}

/* *==== Utilities ==== */
.container {
  max-width: 1185px;
  padding: 30px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 15px 30px;
  color: #fff;
  font-weight: 700;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  width: 200px;
  text-align: center;
}
.card {
  border-radius: 28px;
  padding: 37px;
  background-color: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.text-align {
  text-align: center;
}
.is-active {
  color: #000;
  font-weight: 600;
}
.underline {
  margin: 30px 0 30px;
  width: 56px;
  height: 2px;
  border: 0px solid black;
  background-color: #000;
  border-radius: 5px;
}

/* *==== For Tablet and under ==== */
@media (max-width: 1023px) {
  /* *== article == */
  .article-align-btn {
    grid-column: 1;
  }
  .article .grid {
    grid-template-columns: 1fr;
  }
  .article-bg-left,
  .article-bg-right {
    display: none;
  }
  .article-detail h2 {
    min-height: 30px;
  }
}

/* *==== For mobile and under ==== */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }

  /* *== Hero == */
  .hero .grid {
    grid-template-columns: 1fr;
  }
  .hero-img img {
    padding: 20px;
    width: 100%;
    height: auto;
  }
  .hero-title {
    padding-left: 60px;
  }
  .hero-title p {
    padding-right: auto;
  }

  /* *== Service == */
  .service .grid {
    grid-template-columns: repeat(2, minmax(213px, 1fr));
  }
  .service-desc {
    padding: 0 30px;
  }
  .service .card {
    /* height: 100%; */
    align-self: center;
    margin: 2px;
    padding: 11px;
  }
  .service-align-btn {
    grid-column: 1 / span 2;
    justify-self: center;
  }
  .service-bg-left,
  .service-bg-right {
    display: none;
  }

  /* *== Healthcare == */
  .healthcare .grid {
    grid-template-columns: 1fr;
  }
  .healthcare-title {
    margin-top: 30px;
  }
  .healthcare-img {
    padding: 20px;
  }

  /* *== App == */
  .app .grid {
    grid-template-columns: 1fr;
  }
  .app-title {
    margin-left: 70px;
  }
  .app-img {
    padding: 20px;
    margin-top: 20px;
  }
  /* *== Article == */
}
